.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
.sidebarWrapper{
    padding: 20px;
    background-color:white;
}

.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

.sidebarItemText{
    margin-left: 15px;
}
.sidebarButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
}
.sidehr{
    margin: 20px 0;
}
.sidebarFreindList{
    padding: 0;
    margin: 0;
    list-style: none;
    }
